<section id="starter-1">

</section>

<script src="{{ path '/js/libs/three.r112.js' }}"></script>
<script src="{{ path '/js/libs/utils.js' }}"></script>
<script src="{{ path '/js/components/starter-1.js' }}"></script>
